[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/schorlton/hugo-theme-introduction
[submodule "public"]
	path = public
	url = https://github.com/schorlton/schorlton.github.io.git
